body {
    background-image: url("../images/Hollywood.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
  }
  .text-muted{
    color: blue;
  }
  .last-seconds{
    color:red;
  }
  .jumbotron {
      position: relative;
      background-color: lawngreen;
      text-align: center;
      border: 2px solid darkgreen;
  }
 #start {
    border: 1px solid black;
    margin-left: 450px;
  }

 #options {
    position: relative;
    margin: 50px 50px 0 300px;
    
  }
