body {
    background-image: url("../images/Hollywood.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    
}
.text-muted{
    color: blue;
}
.last-seconds{
    color:red;
}

#start {
    position: relative;
    margin-left: 600px;
    
}
#question {
    position: relative;
    margin-left: 125px;
}
#options {
    position: relative;
    top: 50px;
    left: 750px;
    bottom: 100px
    
}

